<!--<div class="panel panel-default">-->
<div class="panel-body">
    
  <div style="text-align:center">
    
    <h3 style="margin-top:8px;">Paul Balança</h3>
    <img src="{{rootPath}}img/pic-reduce.jpg" alt="Morning is evil!" class="img-thumbnail">
        <div class="panel panel-default" style="text-align:left">
      <div class="panel-heading">
        <h4 class="panel-title"><i class="fa fa-map-marker fa-lg"></i> &nbsp;<a data-toggle="collapse" data-parent="#publication" href="#address">Address</a></h4>
      </div>
      <div id="address" class="panel-collapse collapse">
        <div class="panel-body">
          <small>
          Paul Balança<br>
          Post-doc<br>
          IEM Faculty, Technion<br>
          32000 Haifa, Israël</small>
        </div>
      </div>
    </div>
    <div id="contact-list" class="text-center">
      <ul class="list-unstyled list-inline nopadding">
        <li class="nopadding"><a class="btn-ct btn-ct-default btn-small" href="mailto:paul.balanca@gmail.com"><i class="fa fa-envelope fa-lg"></i></a></li>
        <li class="nopadding"><a class="btn-ct btn-ct-default btn-sm" href="https://twitter.com/PaulBalanca"><i class="fa fa-twitter fa-lg"></i></a></li>
        <li class="nopadding"><a class="btn-ct btn-ct-default btn-sm" href="https://github.com/balancap"><i class="fa fa-github-alt fa-lg"></i></a></li>
        <!--<li class="nopadding"><a class="btn-ct btn-ct-default btn-sm" href="https://linkedin.com/in/paulbalanca"><i class="fa fa-linkedin"></i></a></li>-->
        <li class="nopadding"><a class="btn-ct btn-ct-default btn-sm" href="https://www.researchgate.net/profile/Paul_Balanca"><i class="ai ai-researchgate fa-lg"></i></a></li>
        <!-- <li><a class="btn-ct btn-ct-default btn-md" href="#"><i class="fa fa-rss fa-lg"></i></a></li> -->
      </ul>
    </div>

 </div>

  {{#if sideshortcuts}}
  <nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix" style="padding-top:-20px;margin-top:10px">
    <ul id="sidebar" class="nav nav-stacked fixed">
      <li><a data-scroll href="#anchor-top"><i class="fa fa-arrow-up"></i></a></li>
      {{#each sideshortcuts}}
      <li><a data-scroll href="#{{id}}">{{text}}</a></li>
      {{/each}}
      <!--<li><a data-scroll href="#anchor-bottom"><i class="fa fa-arrow-down"></i></a></li>-->
    </ul>
  </nav>
  {{/if}}

</div>
<!--</div>-->
