<!DOCTYPE html>
<html lang="en">
  {{>header}}
  
  <body>
    
    {{>nav}}

    <div class="container">
      <div class="row">
        
        <div class="col-md-10">
        {{{contents}}}
        </div>
        
        <div class="col-md-2">
          <nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix">
            <ul id="sidebar" class="nav nav-stacked fixed">
              <li><a data-scroll href="#anchor-top"><i class="fa fa-arrow-up"></i></a></li>
              {{#each sideshortcuts}}
              <li><a data-scroll href="#{{id}}">{{text}}</a></li>
              {{/each}}
              <!--<li><a data-scroll href="#anchor-bottom"><i class="fa fa-arrow-down"></i></a></li>-->
            </ul>
          </nav>
        </div>
        
      </div>
    </div>
    {{>footer}}
  </body>
  </html>
